.cart {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .cart__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .cart__item {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .cart__item img {
    width: 100%;
  }
  
  .cart__item h3, p, button {
    margin: 10px 0;
  }
  
  .cart__item button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
  }
  
  .cart__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart__summary h2, button {
   margin:20px; 
  }
  
  .cart__summary button {
   background-color:green; 
   color:white; 
   border:none; 
   padding:10px; 
  }